@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* header === font-family: 'Josefin Sans', sans-serif; */


/* --- pop --- */

.container-pop{
    padding: 20px 30px;
    justify-content: center;
    border-bottom: 1px solid rgb(233, 114, 114);
    display: flex;
    flex-direction: column;
}

.container-pop img{
   object-fit: cover;
   height: 252px;
}

.pop-info{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.pop-info .name{
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin: 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
}

.pop-info .details{
    font-size: 16px;
    font-weight: 500;
    color: red;
    overflow: hidden;
    margin: 4px 0;
    text-transform: capitalize;
    text-overflow: ellipsis;
}

.pop-info .details span{
    
    color: black;
    opacity: 0.5;
}
.card-header{
    background-color: white;
}


.modal {
    box-sizing:border-box;
}
.modal-content{
    background-color: rgb(168, 99, 109);
}

.modal-header h5{
    font-family:'Gulzar', serif;
    font-size: 25px;
    text-align: center;
    color: rgb(197, 230, 10);
}

.card-title{
    color: rgb(245, 147, 147);
}

.card-img-top{
    height: 10%;
    width: 25%;
}

.card-footer hr{
    border: 2px;
    color: white;
}

.btn{
    margin-right: 5px;
}