@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@1,400;1,700&display=swap');


:root{
    --mainColor : #29335c;
    --mainColorlight:#5767aa;
    --secondaryColor:#DB2B39;
    --textColor:#eee;
}

.header{
    background-image: url(https://w0.peakpx.com/wallpaper/434/377/HD-wallpaper-magenta-explorer-ultra-space-landscape-stars-mountains-panoramic-spaceman-panoramicview-spaceart-space-art-magenta-planets-u.jpg);
}

.heading{
    color: var(--textColor);
    margin-top: 1rem;
    font-family: 'Gulzar', serif;
}

.heading span{
    color: red;
    font-weight: 600;
    font-family: 'Gulzar', serif;
}


.nav-link{
    margin: auto;
    color: rgb(218, 211, 198);
    text-decoration: none;
    font-weight: 400;
    font-family: 'Gentium Book Plus', serif;
}

.nav-link:hover{
    color: var(--secondaryColor);
}
